*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    background-color: green;
    color: white;
    max-width: 400px;
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
    transition: 300ms;
}

a:hover{
    filter: brightness(120%);
}

a:active{
    filter: brightness(90%);
}

.main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 220px;
}